<div class="p-3" *ngIf="dataCondicion">

    <div class="row align-items-center mb-3" *ngIf="dataCondicion.tipos.length>0">
      <div class="col-auto">
        <b>Tipo</b>
      </div>
      <div class="col-md-3">
        <p-dropdown *ngIf="dataCondicion.tipos"
            [options]="dataCondicion.tipos"
            placeholder="Seleccione Tipo"
            [(ngModel)]="dataCondicion.tipo"
            [disabled]="!dataCondicion.editable"
            optionLabel="nombre"
            optionValue="parametroGeneralId"
          ></p-dropdown>
      </div>
    </div>

    <p-table [value]="dataCondicion.condiciones" styleClass="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th class="fw-semibold text-center">NO / SÍ</th>
          <th class="fw-semibold text-center">OBSERVACIÓN</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-condicion>
        <tr>
          <td>
            {{ condicion.nombre }}
            <span *ngIf="condicion.comentario" (click)="op.toggle($event)">
              <i class="fa-solid fa-circle-question fa-xl pointer"></i>
            </span>

            <p-overlayPanel #op>
              <ng-template pTemplate>
                <div style="max-width: 250px" class="text-justify">
                  <i>{{ condicion.comentario }}</i>
                </div>
              </ng-template>
            </p-overlayPanel>
          </td>
          <td class="text-center" style="width: 80px">
            <p-inputSwitch
              [(ngModel)]="condicion.valor"
              [disabled]="!dataCondicion.editable"
            ></p-inputSwitch>
          </td>
          <td class="p-fluid" style="width: 250px">
            <textarea
              pInputTextarea
              [(ngModel)]="condicion.observacion"
              [disabled]="!dataCondicion.editable"
              [rows]="1"
            ></textarea>
          </td>
        </tr>
      </ng-template>
    </p-table>

  <div class="ui-dialog-footer text-center pt-3">
    <button
      pButton
      label="Cerrar"
      icon="fa-solid fa-xmark"
      class="p-button-rounded p-button-danger me-3 px-5"
      (click)="cerrar()"
    ></button>
    <button
      *ngIf="dataCondicion.editable"
      pButton
      label="Agregar"
      icon="fa-solid fa-plus"
      class="p-button-rounded p-button-primary px-5"
      (click)="guardar()"
    ></button>
  </div>
</div>
