<div class="container-fluid">
  <app-titulo-pagina
    titulo="Checklist de Arranque del Electroporador (PEF)"
    (regresarAnt)="regresar()"
  >
    <div class="after-title">
      <!-- Aquí puedes agregar tu botón o cualquier otro contenido -->
      <button pButton
              pRipple
              type="button"
              icon="fa-solid fa-print fa-xl"
              class="p-button-rounded p-button-success p-button-text"
              (click)="printCheckListArranqueElectroporador()"></button>
    </div>
  </app-titulo-pagina>

  <div class="row mb-3">
    <div class="col-md-12">
      <app-tarjeta-seccion
        icono="fa-solid fa-caret-right"
        titulo="Condiciones Básicas"
        [contentTemplate]="contentTemplate_1"
      >
        <ng-template #contentTemplate_1>
          <app-listado-condicion
            [condiciones]="arranque?.Condiciones"
          ></app-listado-condicion>
        </ng-template>
      </app-tarjeta-seccion>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <app-tarjeta-seccion
        icono="fa-solid fa-caret-right"
        titulo="Verificación de Equipo"
        [contentTemplate]="contentTemplate_2"
      >
        <ng-template #contentTemplate_2>
          <p-table
            [value]="arranque?.Verificaciones"
            styleClass="p-datatable-sm app-table"
          >
            <ng-template pTemplate="header">
              <tr>
                <th></th>
                <th>Usuario</th>
                <th class="text-center">Fecha y Hora</th>
                <th class="text-center">Finalizado</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-verif>
              <tr>
                <td class="text-center">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="fa-solid fa-magnifying-glass fa-xl"
                    class="p-button-rounded p-button-success p-button-text"
                    (click)="verVerificacion(verif)"
                  ></button>
                </td>
                <td>{{ verif.usuario }}</td>
                <td class="text-center">
                  {{ verif.fecha | date : "dd/MM/yyyy hh:mm" }}
                </td>
                <td class="text-center">
                  <i
                    *ngIf="verif.cerrado"
                    class="fa-solid fa-check fa-xl text-success"
                  ></i>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
      </app-tarjeta-seccion>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12">
      <app-tarjeta-seccion
        icono="fa-solid fa-caret-right"
        titulo="Variables básicas"
        [contentTemplate]="contentTemplate_3"
      >
        <ng-template #contentTemplate_3>
          <p-table
            [value]="arranque?.Variables"
            styleClass="p-datatable-sm app-table"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Descripción</th>
                <th>valor</th>
                <th>Observación</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-variable>
              <tr>
                <td>{{ variable.nombre }}</td>
                <td class="p-fluid" style="width: 120px">
                  <p-inputNumber
                    inputId="minmaxfraction"
                    mode="decimal"
                    locale="en-US"
                    [maxFractionDigits]="2"
                    [(ngModel)]="variable.valor"
                    [disabled]="true"
                  >
                  </p-inputNumber>
                </td>
                <td class="p-fluid">
                  <textarea
                    pInputTextarea
                    [(ngModel)]="variable.observacion"
                    [rows]="1"
                    [disabled]="true"
                  ></textarea>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
      </app-tarjeta-seccion>
    </div>
  </div>
</div>
<p-toast position="top-right"></p-toast>
<p-confirmDialog
  header="Confirmación"
  [style]="{ width: '30vw' }"
  acceptButtonStyleClass="p-button-warning"
  rejectButtonStyleClass="p-button-outlined"
  acceptLabel="Sí"
></p-confirmDialog>
