<app-titulo-pagina
  titulo="Panel de Control1"
  (regresar)="goTo(0)"
  (regresarAnt)="goTo(1)"
  [mostrarBotonRegresar]="true"
></app-titulo-pagina>

<div class="d-flex mx-0 px-0 mb-5">
  <ng-container *ngFor="let aplicacion of aplicaciones">
    <app-card-button
      *ngIf="validarVisibilidad(aplicacion.NodoId)"
      [icono]="aplicacion.Icono"
      [texto]="aplicacion.Nombre"
      (click)="goTo(aplicacion.NodoId)"
    ></app-card-button>
  </ng-container>
</div>

<div class="row">
  <div class="col-md-4 mt-3" *ngIf="mostrarBlending">
    <app-tarjeta-seccion
      icono="fa fa-check-to-slot"
      titulo="Blending - Checklist"
      [contentTemplate]="contentTemplate_2"
    >
      <ng-template #contentTemplate_2>
        <p-table [value]="arranques_blending" styleClass="p-datatable-sm">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th class="fw-semibold">Usuario</th>
              <th class="fw-semibold text-center">Fecha</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-arranque>
            <tr>
              <td class="text-center">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="fa-solid fa-magnifying-glass fa-xl"
                  class="p-button-rounded p-button-success p-button-text"
                  (click)="verBlendingArranque(arranque.Id)"
                ></button>
              </td>
              <td>{{ arranque.Usuario }}</td>
              <td class="text-center">
                {{ arranque.Fecha | date : "dd/MM/yyyy HH:mm" }}
              </td>
              <td class="text-center">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="fa-solid fa-print fa-xl"
                  class="p-button-rounded p-button-success p-button-text"
                  (click)="printChecklistArranqueBlending(arranque.Id)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </app-tarjeta-seccion>
  </div>

  <div class="col-md-4 mt-3">
    <app-tarjeta-seccion
      icono="fa-solid fa-check-to-slot"
      titulo="Arranques de Máquina"
      [contentTemplate]="contentTemplate_1"
    >
      <ng-template #contentTemplate_1>
        <p-table [value]="arranques_maquina" styleClass="p-datatable-sm">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th class="fw-semibold">Usuario</th>
              <th class="fw-semibold text-center">Fecha Registro</th>
              <th class="fw-semibold text-center">Fecha Últ. Modif.</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-arranque>
            <tr>
              <td class="text-center">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="fa-solid fa-magnifying-glass fa-xl"
                  class="p-button-rounded p-button-success p-button-text"
                  (click)="verArranqueMaquina(arranque.arranqueMaquinaId)"
                ></button>
              </td>
              <td>{{ arranque.usuarioCreacion }}</td>
              <td class="text-center">
                {{ arranque.fechaCreacion | date : "dd/MM/yyyy HH:mm" }}
              </td>
              <td class="text-center">
                {{ arranque.fechaModificacion | date : "dd/MM/yyyy HH:mm" }}
              </td>
              <td class="text-center">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="fa-solid fa-print fa-xl"
                  class="p-button-rounded p-button-success p-button-text"
                  (click)="printArranqueMaquinaEnvasado(arranque.arranqueMaquinaId)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </app-tarjeta-seccion>
  </div>

  <div class="col-md-4 mt-3">
    <app-tarjeta-seccion
      icono="fa-solid fa-check-to-slot"
      titulo="Arranques de Envasado"
      [contentTemplate]="contentTemplate_4"
    >
      <ng-template #contentTemplate_4>
        <p-table [value]="arranques_envasado" styleClass="p-datatable-sm">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th class="fw-semibold">Usuario</th>
              <th class="fw-semibold text-center">Fecha Registro</th>
              <th class="fw-semibold text-center">Fecha Últ. Modif.</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-arranque>
            <tr>
              <td class="text-center">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="fa-solid fa-magnifying-glass fa-xl"
                  class="p-button-rounded p-button-success p-button-text"
                  (click)="verArranqueEnvasado(arranque.arranqueId)"
                ></button>
              </td>
              <td>{{ arranque.usuarioCreacion }}</td>
              <td class="text-center">
                {{ arranque.fechaCreacion | date : "dd/MM/yyyy HH:mm" }}
              </td>
              <td class="text-center">
                {{ arranque.fechaModificacion | date : "dd/MM/yyyy HH:mm" }}
              </td>
              <td class="text-center">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="fa-solid fa-print fa-xl"
                  class="p-button-rounded p-button-success p-button-text"
                  (click)="printArranqueEnvasado(arranque.arranqueId)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </app-tarjeta-seccion>
  </div>

  <div class="col-md-12 mt-3">
    <app-tarjeta-seccion
      icono="fa-solid fa-check-to-slot"
      titulo="Registros de pedacería"
      [contentTemplate]="contentTemplate_3"
    >
      <!-- TODO: Se agrego el Boton de Impresion -->
      <div class="after-title">
        <!-- Aquí puedes agregar tu botón o cualquier otro contenido -->
        <button pButton
                pRipple
                type="button"
                icon="fa-solid fa-print fa-xl"
                class="p-button-rounded p-button-success p-button-text"
                (click)="printRegistrosPedaceria()"></button>
      </div>
      <ng-template #contentTemplate_3>
        <p-table
          [value]="registros_pedaceria"
          styleClass="p-datatable-sm app-table"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center">Fecha Hora</th>
              <th class="text-center">Peso (g)</th>
              <th class="text-center">Hojuelas enteras (g)</th>
              <th class="text-center">%</th>
              <th class="text-center">Pedacería (g)</th>
              <th class="text-center">%</th>
              <th>usuario</th>
              <th>inspector</th>
              <th>observación</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pedaceria>
            <tr>
              <td class="text-center">
                {{ pedaceria.fechaHora | date : "dd/MM/yyyy HH:mm" }}
              </td>
              <td class="text-center">{{ pedaceria.peso }}</td>
              <td class="text-center">{{ pedaceria.hojuelasEnteras }}</td>
              <td class="text-center">
                {{ pedaceria.porcentajeHojuelasEnteras }}
              </td>
              <td class="text-center">{{ pedaceria.pedaceria }}</td>
              <td class="text-center">{{ pedaceria.porcentajePedaceria }}</td>
              <td>{{ pedaceria.usuario }}</td>
              <td>{{ pedaceria.inspector }}</td>
              <td>{{ pedaceria.observacion }}</td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </app-tarjeta-seccion>
  </div>
</div>

<p-toast position="top-right"></p-toast>
<p-confirmDialog
  header="Confirmación"
  icon="pi pi-exclamation-triangle"
  [style]="{ width: '30vw' }"
  acceptButtonStyleClass="p-button-warning"
  rejectButtonStyleClass="p-button-outlined"
  acceptLabel="Sí"
></p-confirmDialog>
