<div class="container-fluid">
  <app-titulo-pagina
    titulo="Checklist de Arranque de Lavado de Tubérculos"
    [mostrarBotonCerrar]="true"
    (regresarAnt)="regresar()"
    (cerrar)="cerrar()"
  ></app-titulo-pagina>

  <div class="row mb-3">
    <div class="col-md-7">
      <app-tarjeta-seccion
        icono="fa-solid fa-caret-right"
        titulo="Condiciones Básicas"
        [headerTemplate]="headerTemplate_1"
        [contentTemplate]="contentTemplate_1"
      >
        <ng-template #headerTemplate_1>
          <button
            pButton
            label="Guardar"
            icon="fa fa-save"
            class="p-button-rounded p-button-primary px-4"
            (click)="guardarCondiciones()"
          ></button>
        </ng-template>
        <ng-template #contentTemplate_1>
          <app-listado-condicion
            [condiciones]="arranque?.Condiciones"
          ></app-listado-condicion>
        </ng-template>
      </app-tarjeta-seccion>
    </div>
    <div class="col-md-5">
      <app-tarjeta-seccion
        icono="fa-solid fa-caret-right"
        titulo="Verificación de Equipo"
        [headerTemplate]="headerTemplate_2"
        [contentTemplate]="contentTemplate_2"
      >
        <ng-template #headerTemplate_2>
          <button
            pButton
            label="Agregar"
            icon="fa-solid fa-plus"
            class="p-button-rounded p-button-primary px-4"
            (click)="agregarVerificacion()"
          ></button>
        </ng-template>
        <ng-template #contentTemplate_2>
          <p-table [value]="arranque?.Verificaciones">
            <ng-template pTemplate="header">
              <tr>
                <th></th>
                <th>Usuario</th>
                <th class="text-center">Fecha y Hora</th>
                <th class="text-center">Finalizado</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-verif>
              <tr>
                <td class="text-center">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="fa-solid fa-magnifying-glass fa-xl"
                    class="p-button-rounded p-button-success p-button-text"
                    (click)="verVerificacion(verif)"
                  ></button>
                </td>
                <td>{{ verif.usuario }}</td>
                <td class="text-center">
                  {{ verif.fecha | date : "dd/MM/yyyy hh:mm" }}
                </td>
                <td class="text-center">
                  <i
                    *ngIf="verif.cerrado"
                    class="fa-solid fa-check fa-xl text-success"
                  ></i>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
      </app-tarjeta-seccion>
    </div>
  </div>
</div>

<p-toast position="top-right"></p-toast>
<p-confirmDialog
  header="Confirmación"
  [style]="{ width: '30vw' }"
  acceptButtonStyleClass="p-button-warning"
  rejectButtonStyleClass="p-button-outlined"
  acceptLabel="Sí"
></p-confirmDialog>
