<div class="login_screen">
    
    <div class="card shadow">
        <div class="card-body p-4 text-center" style="width: 300px;">
            <img src="assets/logo.jpg" alt="logo ik">
            <h4 class="mt-4 mb-4 fw-bold">CONTROL DE PROCESOS</h4>
            <!-- <h4 class="mb-4">Inicio de Sesión</h4> -->
            <div class="p-fluid mb-3">
                <span class="p-input-icon-left">
                    <i class="pi pi-user"></i>
                    <input type="text" pInputText placeholder="Usuario" 
                        [(ngModel)]="usuario"
                    />
                </span>
            </div>
            <div class="p-fluid mb-3">
                <span class="p-input-icon-left">
                    <i class="pi pi-key"></i>
                    <input type="password" pPassword placeholder="Contraseña" 
                        [feedback]="false" 
                        [(ngModel)]="clave"
                    />
                </span>
            </div>
            <div class="p-fluid">
                <button pButton pRipple label="Ingresar" 
                    icon="pi pi-sign-in" 
                    class="p-button-rounded p-button-success"
                    (click)="login()"
                ></button>
            </div>
        </div>
    </div>

</div>

<p-toast position="top-center"></p-toast>