<div class="row">
  <div class="col-md-3">
    <app-tarjeta-seccion
      icono="fa fa-filter"
      titulo="Filtros de búsqueda"
      [contentTemplate]="contentTemplate_1"
    >
      <ng-template #contentTemplate_1>
        <div class="row">
          <div class="col-12 p-fluid mb-3">
            <span class="p-float-label">
              <input
                type="text"
                pInputText
                maxlength="15"
                [(ngModel)]="ordenId"
              />
              <label>Orden</label>
            </span>
          </div>
          <div class="col-12 p-fluid mb-3">
            <span class="p-float-label">
              <p-calendar
                appendTo="body"
                [showIcon]="true"
                dateFormat="dd/mm/yy"
                [(ngModel)]="fechaInicio"
              ></p-calendar>
              <label>Fecha - Desde</label>
            </span>
          </div>
          <div class="col-12 p-fluid mb-3">
            <span class="p-float-label">
              <p-calendar
                appendTo="body"
                [showIcon]="true"
                dateFormat="dd/mm/yy"
                [(ngModel)]="fechaFin"
              ></p-calendar>
              <label>Fecha - Hasta</label>
            </span>
          </div>
          <div class="col-12 p-fluid mb-3">
            <span class="p-float-label">
              <p-dropdown
                placeholder="Línea"
                [options]="materiasPrima"
                optionLabel="Nombre"
                optionValue="Id"
                [(ngModel)]="materiaPrimaId"
              ></p-dropdown>
              <label>Materia Prima</label>
            </span>
          </div>

          <div class="col p-fluid">
            <button
              pButton
              label="Buscar"
              icon="fa-solid fa-search"
              class="p-button-rounded p-button-primary h-100 me-3 px-5"
              (click)="listarOrdenes()"
            ></button>
          </div>
        </div>
      </ng-template>
    </app-tarjeta-seccion>
  </div>

  <div class="col-md-9">
    <app-tarjeta-seccion
      icono="fa fa-table"
      titulo="Resultados de la búsqueda"
      [headerTemplate]="headerTemplate_2"
      [contentTemplate]="contentTemplate_2"
    >
      <ng-template #headerTemplate_2>
        <button
          pButton
          label="Nueva"
          icon="fa-solid fa-plus"
          class="p-button-rounded p-button-success h-100 px-5"
          (click)="nuevaOrden()"
        ></button>
      </ng-template>
      <ng-template #contentTemplate_2>
        <p-table
          [value]="ordenes"
          styleClass="p-datatable-sm"
          [paginator]="ordenes.length > 0"
          [rows]="rows"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords}"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 30px"></th>
              <th style="width: 120px" class="text-center">Orden</th>
              <th style="width: 120px" class="text-center">Fecha</th>
              <th>Materia prima</th>
              <!-- <th class="text-center">Estado</th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-orden>
            <tr>
              <td class="text-center">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="fa-solid fa-magnifying-glass fa-xl"
                  class="p-button-rounded p-button-success"
                  (click)="verOrden(orden)"
                ></button>
              </td>
              <td class="text-center">{{ orden.OrdenId }}</td>
              <td class="text-center">
                {{ orden.FechaEjecucion | date : "dd/MM/yyyy" }}
              </td>
              <td>{{ orden.MateriaPrima }}</td>
              <!-- <td class="text-center">
                  <p-tag [value]="orden.Cerrado ? 'TERMINADO' : 'PENDIENTE'" [severity]="obtenerSeveridad(orden.Cerrado)"></p-tag>
                </td> -->
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </app-tarjeta-seccion>
  </div>
</div>
