<div class="container-fluid py-3">
  <app-custom-navbar
    [headerTemplate]="headerTemplate"
    subtitulo="Fritura"
    classSubtitulo="color-fr"
  >
    <ng-template #headerTemplate>
      <span class="navbar-text me-5 pointer">
        <strong
          ><i class="fa-solid fa-boxes-packing"></i>
          {{ dataFr.freidora?.Nombre }}
        </strong>
      </span>
    </ng-template>
  </app-custom-navbar>

  <app-banner-fritura *ngIf="dataFr.orden"></app-banner-fritura>

  <div class="py-2">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
