th {
    background-color: #218838 !important;
    color: #FFFFFF !important;
}

th.control {
    font-weight: bold;
    min-width: 100px !important;
}

th.observacion {
    width: 250px !important;
}